# Configurações de URLs
API_URL="http://localhost:3000" # http://backend:3000
FRONTEND_URL="http://localhost:3001" # http://web:3001

# Autenticação e Segurança (Gere senhas fortes, ex: https://1password.com/password-generator/)
JWT_SECRET_KEY="sua_chave_secreta_jwt_aqui"
JWT_KEY="sua_chave_jwt_aqui"

# API STRIPE - https://dashboard.stripe.com/apikeys
STRIPE_SECRET_KEY="sk_test_sua_chave_secreta_do_stripe_aqui"

# Banco de Dados
DATABASE_URL="postgresql://dev_user:dev_password@postgres:5432/db?schema=public"

# Credenciais do Administrador Padrão
ADM_USER="admin" # usuario de administrador
ADM_PASSWD="admin" # senha de administrador

# Portas de Serviço (Docker/Local)
BACKEND_PORT=3000
FRONTEND_PORT=3001
DESKTOP_PORT=3002
