# Configurações de API Externa
API_URL="https://backend:3000"
JWT_KEY= senha #https://1password.com/password-generator/
JWT_SECRET= your_secret_here

# API Mercado Pago - https://www.mercadopago.com.br/developers/panel/credentials
MP_PUBLIC_KEY= # Vai no front-end
MP_ACCESS_TOKEN= # Vai no back-end

# Dados existentes
DATABASE_URL="postgresql://dev_user:dev_password@postgres:5432/db?schema=public"
ADM_PASSWD="senha de administrador"
ADM_USER="usuário de administrador"

BACKEND_PORT=3000
FRONTEND_PORT=3001
DESKTOP_PORT=3002
