# Configurações de API Externa
API_URL="https://localhost:3000"
API_TOKEN="seu_token_secreto_aqui"

# Dados existentes
DATABASE_URL="postgresql://dev_user:dev_password@postgres:5432/db?schema=public"
ADM_PASSWD="senha de administrador"
ADM_USER="usuário de administrador"
